.Container {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-template-rows: 80px;
  position: sticky;
  align-items: center;
  font-weight: 400;
}

.LeftSide {
  display: flex;
  text-transform: uppercase;
  align-self: flex-end;
}

.CategoryItem {
  height: 56px;
  padding-inline: 16px;
  cursor: pointer;
}

.active {
  color: var(--c-primary);
  border-bottom: 2px solid var(--c-primary);
}

.Center {
  background-image: url('../../assets/logo-transparent.svg');
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;
}

.RightSide {
  justify-self: end;
}
