@use '../../styles/mixins';

.Container {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  grid-template-rows: 80px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  align-items: center;
  font-weight: 400;
  padding-inline: 100px;
}

.LeftSide {
  display: flex;
  text-transform: uppercase;
  align-self: flex-end;
}

.Center {
  background-image: url('../../assets/logo-transparent.svg');
  width: 41px;
  height: 41px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: default;
}

.RightSide {
  justify-self: end;
  align-self: flex-end;
  display: flex;
  // gap: 20px;
  align-items: center;
}
