@mixin margin-inline {
  margin-inline: 100px;
}

@mixin padding-inline-100 {
  padding-inline: 100px;
}

@mixin max-width-1440 {
  max-width: 1440px;
}

@mixin cart {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  inset: 0;
  background-image: url('../../assets/empty-cart.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  top: 50%;
  left: 50%;
  filter: invert(1);
  transition: all 0.3s ease-out;
}

@mixin navHeight {
  height: 56px;
}
