.Wrap {
  display: flex;
  flex-direction: column;
}

.Container {
  display: grid;
  grid-template-columns: 800px 300px;
}

.Data {
  display: flex;
  flex-direction: column;
}

.Brand {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 16px;
}

.Title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 43px;
}

.Attributes {
  margin-bottom: 36px;
}

.Price {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 700;
  margin-bottom: 20px;

  :first-child {
    font-size: 18px;
  }

  :last-child {
    font-size: 24px;
  }
}

.Description {
  margin-top: 40px;
}
