@use '../../styles/mixins';

.Container {
  padding-inline: 20px;
  border-bottom: 2px solid transparent;
  position: relative;

  &:hover {
    border-bottom: 2px solid var(--c-primary);
  }
}

.ImageWrapper {
  background-image: url('../../assets/empty-cart.svg');
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  @include mixins.navHeight;
  position: relative;
}

.AmountInCart {
  position: absolute;
  top: -6px;
  right: -6px;
  background-color: black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding-bottom: 2px;
  color: white;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
