.PopUPInner {
  z-index: 1000;
  padding: 24px 36px;
  position: fixed;
  user-select: none;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  background-color: white;
  cursor: default;

  input,
  label {
    cursor: pointer;
    margin-right: 5px;
  }
}

.AddToCart {
  padding: 12px 18px;
  background-color: var(--c-primary);
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 999px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-top: 10px;

  &:disabled {
    cursor: no-drop;
  }
}
