.PopUPInner {
  z-index: 1000;
  padding: 24px 36px;
  position: fixed;
  user-select: none;
  height: fit-content;
  left: 50%;
  transform: translateX(-50%);
  top: 80px;
  background-color: white;
  cursor: default;
  min-width: 350px;

  input,
  label {
    cursor: pointer;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.Brand {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 16px;
}

.Name {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
