@use '../../styles/mixins';

.Container {
  font-size: 18px;
  line-height: 28.8px;
  transition: all 0.2s ease;
  position: relative;
}

.Inner {
  padding: 16px;
  position: relative;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 35px 10px rgba(168, 172, 176, 0.19);

    .AddToCart {
      opacity: 1;
      visibility: visible;
    }
  }

  &.OutOfStock {
    pointer-events: none;
    user-select: none;
    cursor: default;

    position: absolute;
    inset: 0;
    background-color: white;
    opacity: 0.5;
  }
}

.ImageWrapper {
  height: 330px;
  width: 100%;
  position: relative;

  img {
    object-fit: contain;
    height: inherit;
    width: inherit;
  }

  .OufOfStock {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    color: var(--c-gray);
  }
}

.Name {
  margin-top: 24px;
  font-weight: 300;
  display: flex;
  gap: 4px;
}

.Price {
  font-weight: 500;
}

.AddToCart {
  width: 50px;
  height: 50px;
  background-color: var(--c-primary);
  border-radius: 50%;
  position: absolute;
  bottom: 70px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  overflow: hidden;

  &::after {
    @include mixins.cart;
    transform: translate(-50%, -50%);
  }

  &::before {
    @include mixins.cart;
    transform: translate(-250%, -50%);
  }

  &:hover {
    &::after {
      transform: translate(250%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%);
    }
  }
}
