@use '../../styles/mixins';

.Container {
  font-size: 18px;
  line-height: 28.8px;
  transition: all 0.2s ease;
  cursor: pointer;
}

.Inner {
  padding: 16px;
  position: relative;

  &:hover {
    box-shadow: 0px 4px 35px 10px rgba(168, 172, 176, 0.19);

    .AddToCart {
      opacity: 1;
      visibility: visible;
    }
  }
}

.ImageWrapper {
  height: 330px;
  width: 100%;

  img {
    object-fit: contain;
    height: inherit;
    width: inherit;
  }
}

.Name {
  margin-top: 24px;
  font-weight: 300;
}

.Price {
  font-weight: 500;
}

.AddToCart {
  width: 50px;
  height: 50px;
  background-color: var(--c-primary);
  border-radius: 50%;
  position: absolute;
  bottom: 70px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  overflow: hidden;

  &::after {
    @include mixins.cart;
    transform: translate(-50%, -50%);
  }

  &::before {
    @include mixins.cart;
    transform: translate(-250%, -50%);
  }

  &:hover {
    &::after {
      transform: translate(250%, -50%);
    }

    &::before {
      transform: translate(-50%, -50%);
    }
  }
}

// .PopUp {
//   z-index: 1000;
//   position: fixed;
//   inset: 0;
//   overflow: auto;
//   background-color: var(--c-backdrop);
//   display: flex;
//   justify-content: center;
//   align-items: flex-start;
//   cursor: default;
// }

.PopUPInner {
  z-index: 1000;
  padding: 24px;
  $width: 300px;
  position: fixed;
  user-select: none;
  width: $width;
  height: fit-content;
  top: calc(100% + 2px); //border-width
  left: calc(50% - $width/2);
  top: 80px;
  background-color: white;
  cursor: default;
}
