.Container {
  display: flex;
  flex-direction: column;
}

.Title {
  text-transform: capitalize;
  font-size: 42px;
  margin-bottom: 100px;
}

.Products {
  display: grid;
  grid-template-columns: repeat(3, 386px);
  gap: 40px;
}
